@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

div {
  font-family: "Montserrat", sans-serif;
  color: rgb(63, 63, 99);
}

a.nav-item.nav-link.active {
  background-color: #97d9e1;
  border-bottom-width: 0;
  font-weight: bold;
  color: rgb(63, 61, 61);
  text-decoration: none;
  border-style: none;
}

a.nav-link.active {
  background-color: #5bc0de;
  color: white;
}

a.nav-link:hover {
  color: rgb(38, 38, 59);
  border-style: none;
  text-decoration: none;
  font-weight: bolder;
}

a.nav-link {
  color: rgb(63, 63, 99);
  border-style: none;
}
